* {
/* My styling for my HighScores because my highscores.html would not link to my style.css or script.js */
}
#shScores {
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
}